[submodule "taku_repo/ColeAnticevicNetPartition"]
	path = taku_repo/ColeAnticevicNetPartition
	url = https://github.com/ColeLab/ColeAnticevicNetPartition.git
[submodule "dependencies/ColeAnticevicNetPartition"]
	path = dependencies/ColeAnticevicNetPartition
	url = https://github.com/ColeLab/ColeAnticevicNetPartition.git
